<table class="table table-hover table-bordered table-striped">
  <caption>List of orders</caption>
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Time</th>
    <th scope="col">Address</th>
    <th scope="col">Status</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of ordersList">
    <td (click)="openOrderModalData(orderDataModal,order)">{{order.id}}</td>
    <td (click)="openOrderModalData(orderDataModal,order)">{{order.timestamp}}</td>
    <td (click)="openOrderModalData(orderDataModal,order)">{{order.address.street_name}} {{order.address.number}}</td>
    <td (click)="openOrderModalData(orderDataModal,order)">{{order.status}}</td>
    <td> <button class="btn btn-danger" (click)="open(content, order.id)">Change</button>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Change Status</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group" align="center">
            <input class="btn btn-lg btn-warning" type="button" (click)="changeOrderStatus('preparing')" value="preparing" name="preparing">
            <br>
            <br>
            <input class="btn btn-lg btn-info statusButton" type="button" (click)="changeOrderStatus('delivering')" value="delivering" name="delivering">
            <br>
            <br>
            <input class="btn btn-lg btn-success" type="button" (click)="changeOrderStatus('completed')" value="completed" name="completed">
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </ng-template></td>

    <ng-template #orderDataModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Order Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div align="center">
          <h5>Address:</h5>
          <h4>{{order.address.street_name}} {{order.address.number}}</h4>
          <h5>Items:</h5>
          <h4>{{order.items}}</h4>
        </div>
        <div class="form-group" align="center">
          <a [href]="'tel: '+phoneNumber">
          <button type="button" class="btn btn-lg btn-success"><i class="fa fa-phone phoneSymbol"></i> Call Customer </button>
          </a>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </ng-template>
  </tbody>
</table>

<div align="center">
  <button [routerLink]="['/driver/map']" type="button" class="btn btn-success btn-lg" (click)="changeDriverAvailability(driverID,false)">Start Delivering</button>
</div>
  <!--<h1 *ngFor="let order of ordersList">Hello</h1>-->
