<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/driverLogo.png" width="150px" class="user-avatar" />
      <h1>Driver Login</h1>
      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}"
                   type="text"
                   class="form-control input-underline input-lg"
                   id="username"
                   placeholder="{{ 'Phone Number' | translate }}"
                   required="required">
          </div>

          <div class="form-group">
            <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
                   type="password"  class="form-control input-underline input-lg"
                   id="password"
                   placeholder="{{ 'Password' | translate }}">
          </div>
        </div>
        <a class="btn rounded-btn" (click)="loginDriver()" >{{ 'Log in' | translate }}</a>
        &nbsp;
        <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Are you a Restaurant Manager' | translate }}</a>
      </form>
    </div>
  </div>
</div>
