<!--<div class="row">-->
<!--<div class="col-sm-12">-->
<!--<div class="card mb-3">-->
<!--<div class="card-header">Modal</div>-->
<!--&lt;!&ndash; Large modal &ndash;&gt;-->
<!--<div class="card-body">-->
<button class="btn btn-danger" (click)="open(content)">Assign Order</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Assign Order and Vehicle</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Select Order</label>
            <select class="form-control">
                <option *ngFor="let order of orders">
                    Order Number: {{ order.id }}</option>
            </select>
            <label>Select Vehicle</label>
            <select class="form-control">
                <option *ngFor="let vehicle of vehicles">
                    {{ vehicle.type }} {{ vehicle.id }}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <!--TODO implement assign functionality-->
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Assign!</button>
    </div>
</ng-template>
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
