<!--<h1>{{ title }}</h1>-->
<!--<agm-map-->
  <!--[latitude]="lat"-->
  <!--[longitude]="lng"-->
  <!--[(zoom)]="zoom"-->
  <!--(mapClick)="putMarker($event)">-->
  <!--<agm-marker-->
    <!--[latitude]="markerLat"-->
    <!--[longitude]="markerLng"-->
    <!--*ngIf="showMarker"></agm-marker>-->
<!--</agm-map>-->

<agm-map [latitude]="lat"
         [longitude]="lng"
         [zoom]="zoom">
  <agm-direction *ngIf="origin" [origin]="origin"
                 [destination]="destination"
                 [waypoints]="waypoints"
                 [optimizeWaypoints]="optimizeWaypoints"
                 [renderOptions]="renderOptions"
                 [markerOptions]="markerOptions">
  </agm-direction>
</agm-map>

<ng-container *ngFor="let driver of drivers">
  <input type="button"
         class="btn btn-lg btn-primary driverButton"
         value="{{driver.firstName}} {{driver.lastName}}"
         (click)="getWaypoints(driver.id)">
  <!--<br>-->
</ng-container>

