<div align="center">
    <div>
        <button class="btn btn-lg btn-warning autoAssignButton" (click)="toggleAutomaticAssignment()"> Automatic Assignment </button>
    </div>
</div>
<table class="table table-hover table-bordered table-striped">
    <caption>List of orders</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Type</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Driver</th>
            <th scope="col">Address</th>
            <th scope="col">Status</th>
            <th scope="col">Assign Driver</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
        <td (click)="openOrderModalData(orderDataModal,order)">{{order.id}}</td>
        <td (click)="openOrderModalData(orderDataModal,order)">{{order.type}}</td>
        <td (click)="openOrderModalData(orderDataModal,order)">{{order.timestamp}}</td>
        <td *ngIf="order.driver; else noDriver">{{order.driver.firstName}} {{order.driver.lastName}}</td>
        <ng-template #noDriver>
            <td> </td>
        </ng-template>
        <td (click)="openOrderModalData(orderDataModal,order)">{{order.address.street_name}} {{order.address.number}}</td>
        <td (click)="openOrderModalData(orderDataModal,order)">{{order.status}}</td>
        <td> <button class="btn btn-danger" (click)="open(content, order.id)">Assign Driver</button>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Assign Driver and Vehicle</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Select Driver</label>
                        <select [(ngModel)]="selectedDriverID"  class="form-control">
                            <option *ngFor="let driver of availableDrivers">
                                {{ driver.firstName}} {{driver.lastName }} {{driver.id}}</option>
                        </select>
                        <label>Select Vehicle</label>
                        <select [(ngModel)]="selectedVehicle" class="form-control">
                            <option *ngFor="let vehicle of vehicles">
                                {{ vehicle.type }} {{ vehicle.id }}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    <button type="button" class="btn btn-primary" (click)="assignOrder(); c('Assign click')">Assign!</button>
                </div>
            </ng-template></td>
        <ng-template #orderDataModal let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Order Details</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div align="center">
                    <h5>Address:</h5>
                    <h4>{{order.address.street_name}} {{order.address.number}}</h4>
                    <h5>Items:</h5>
                    <h4>{{order.items}}</h4>
                </div>
                <div class="form-group" align="center">
                    <a [href]="'tel: '+phoneNumber">
                        <button type="button" class="btn btn-lg btn-success"><i class="fa fa-phone phoneSymbol"></i> Call Customer </button>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </ng-template>
    </tr>
    </tbody>
</table>
<app-delivering-now-table></app-delivering-now-table>
