<h1>Welcome back {{driver.firstName}} {{driver.lastName}}</h1>
<div class="row">
    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'danger'" [icon]="'fa-map-signs'"  [label]="'Show Map'" [routerLink]="['/driver/map']"></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
        <app-stat [routerLink]="['/driver/orders']" [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="5" [label]="'Orders Delivered!'" ></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'warning'" [icon]="'fa fa-hourglass-o'" [count]="12" [label]="'AVG delivery time'" ></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'primary'" [icon]="'fa fa-eur'" [count]="120" [label]="'Sales'" ></app-stat>
    </div>
</div>
