<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col-md-12">
            <!--<ngb-carousel>-->
                <!--<ng-template ngbSlide *ngFor="let slider of sliders">-->
                    <!--<img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">-->
                    <!--<div class="carousel-caption">-->
                        <!--<h3>{{slider.label}}</h3>-->
                        <!--<p>{{slider.text}}</p>-->
                    <!--</div>-->
                <!--</ng-template>-->
            <!--</ngb-carousel>-->
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa fa-eur'" [count]="540" [label]="'Sales'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa fa-motorcycle'" [count]="3" [label]="'Available Vehicles'" [routerLink]="['/vehicles']" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="56" [label]="'Orders!'" [routerLink]="['/orders']" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="3" [label]="'Available Drivers!'" [routerLink]="['/drivers']"></app-stat>
        </div>
    </div>
    <hr />
    <!--<ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>-->
    <!--<hr />-->
    <!--<div class="row">-->
        <!--<div class="col-lg-8">-->
            <!--<div class="card card-default">-->
                <!--<div class="card-header">-->
                    <!--<i class="fa fa-clock-o fa-fw"></i> Responsive Timeline-->
                <!--</div>-->
                <!--&lt;!&ndash; /.card-header &ndash;&gt;-->
                <!--<app-timeline></app-timeline>-->
                <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col-lg-8 &ndash;&gt;-->
        <!--<div class="col-lg-4">-->
            <!--<div class="card card-default mb-3">-->
                <!--<div class="card-header">-->
                    <!--<i class="fa fa-bell fa-fw"></i> Notifications card-->
                <!--</div>-->
                <!--&lt;!&ndash; /.card-header &ndash;&gt;-->
                <!--<app-notification></app-notification>-->
                <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card &ndash;&gt;-->

            <!--<app-chat></app-chat>-->
            <!--&lt;!&ndash; /.card .chat-card &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
