<agm-map [latitude]="lat"
         [longitude]="lng"
         [zoom]="zoom">
    <agm-direction *ngIf="origin" [origin]="origin"
                   [destination]="destination"
                   [waypoints]="waypoints"
                   [optimizeWaypoints]="optimizeWaypoints"
                   [renderOptions]="renderOptions"
                   [markerOptions]="markerOptions">
    </agm-direction>
</agm-map>
<div align="center">
    <button class="btn btn-primary btn-lg getDirectionsButton" (click)="getDirection()">Get Directions!</button>
</div>
