<table class="table table-hover table-bordered table-striped">
    <caption>List of orders</caption>
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Driver</th>
        <th scope="col">Address</th>
        <th scope="col">Status</th>
        <th scope="col">Show Driver</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of deliveringOrders">
        <td>{{order.id}}</td>
        <td>{{order.type}}</td>
        <td>{{order.timestamp}}</td>
        <td *ngIf="order.driver; else noDriver">{{order.driver.firstName}} {{order.driver.lastName}}</td>
        <ng-template #noDriver>
            <td> </td>
        </ng-template>
        <td>{{order.address.street_name}} {{order.address.number}}</td>
        <td>{{order.status}}</td>
        <td (click)="openMapModal(showDriverModal, order.driver)"><input type="button" class="btn btn-info" value="Show Driver"></td>
</table>

<ng-template #showDriverModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{selectedDriver.firstName}} {{selectedDriver.lastName}}'s Location</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <agm-map [latitude]="driverLat"
                 [longitude]="driverLng"
                 [zoom]="zoom">
            <agm-marker
                    [latitude]="driverLat"
                    [longitude]="driverLng">
            </agm-marker>
        </agm-map>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <a [href]="'tel: '+selectedDriver.phone">
            <button type="button" class="btn btn-success"><i class="fa fa-phone phoneSymbol"></i>    {{selectedDriver.phone}}</button>
        </a>
    </div>
</ng-template>
