<table class="table table-hover table-bordered table-striped">
    <caption>List of Drivers</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Phone</th>
            <th scope="col">Availability</th>
            <th scope="col">Assign Order</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let driver of drivers">
        <td>{{driver.id}}</td>
        <td>{{driver.firstName}}</td>
        <td>{{driver.lastName}}</td>
        <td>{{driver.phone}}</td>
        <td>
            <ng-container *ngIf="driver.availability; else poop">
                Available
            </ng-container>
            <ng-template #poop>
                Not Available
            </ng-template>
        </td>
        <td><button class="btn btn-danger" (click)="open(content, driver.id)">Assign Order</button>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Assign Order and Vehicle</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Select Order</label>
                        <select [(ngModel)]="selectedOrder" class="form-control">
                            <option *ngFor="let order of orders">
                                Order Number: {{ order.id }}</option>
                        </select>
                        <label>Select Vehicle</label>
                        <select [(ngModel)]="selectedVehicle" class="form-control">
                            <option *ngFor="let vehicle of vehicles">
                                {{ vehicle.type }} {{ vehicle.id }}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    <!--TODO implement assign functionality-->
                    <button type="button" class="btn btn-primary" (click)="assignOrder(); c('Assign click')">Assign!</button>
                </div>
            </ng-template></td>
    </tr>
    </tbody>
</table>
