<table class="table table-hover table-bordered table-striped">
    <caption>List of Vehicles</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Type</th>
            <th scope="col">Capacity</th>
            <th scope="col">Availability</th>
            <th scope="col">Driver</th>
            <th scope="col">Assign Order</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vehicle of vehicles">
        <td>{{vehicle.id}}</td>
        <td>{{vehicle.type}}</td>
        <td>{{vehicle.currentCapacity}} / {{vehicle.maxCapacity}}</td>
        <td>
          <ng-container *ngIf="vehicle.availability; else notAvailable">
            Available
          </ng-container>
          <ng-template #notAvailable>
            Not at Work
          </ng-template>
        </td>
        <td>{{vehicle.driver}}</td>
        <td><button type="button" class="btn btn-danger">Assign Driver</button></td>
    </tr>
    </tbody>
</table>
